form.form
  input.form__input(type="text" name="href" placeholder="href")
  input.form__input(type="text" name="anchor" placeholder="anchor")
  input.form__input(type="text" name="details" placeholder="details")
  input.form__submit(type="submit" value="Submit")
