div.menu
  span.menu__title=title
  ul.menu__list
    each item, index in items
      li.menu__item(data-index=index)
        a(href=item.href data-action="pick")=item.anchor
        details(data-action="showDetails")=item.details
        i.close(data-action="remove")
