.menu {
  background-color: #c35757;
  color:#fff;
  width: 400px;
  margin: auto;
}

  .menu__title {
    font-size: 17px;
  }

  .menu__list {
  }

    .menu__item {
      border-bottom: 1px solid #fff;
      margin: 5px;
      cursor: pointer;
    }
